{
  "extends": "semistandard",
  "rules": {
    "key-spacing": [2, { "beforeColon": false, "afterColon": true, "mode": "minimum" }],
    "comma-dangle": [2, "always-multiline"],
    "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
    "spaced-comment": 0
  }
}
