@import "base";
@import "vendor/_sir-trevor";
@import "vendor/_sir-trevor-icons";
@import "vendor/_pickadate.default";
@import "vendor/_pickadate.default.time";

$label_width: 12%;

section.login .wrapper {
  padding-bottom: 10em;
}

section.admin {
  $color-error-border: ch-hsv-to-color(lighten-hsv($color-danger, 0 - 24));
  $color-error-link: ch-hsv-to-color(lighten-hsv($color-danger, 0 - 48));

  h2 {
    @extend h2.line;
    margin-bottom: 2em;
  }
  .admin-part {
    padding-bottom: 10em;
  }
  .error_msg {
    font-size: 1.2em;
    background: $color-danger;
    color: ch-best-color-contrast($color-danger, (#fff, #000), 8);
    border-color: $color-error-border;
    padding: 4px 7px;
    a {
      color: $color-error-link;
    }
  }
  div.field {
    margin-bottom: 10px;

    &.error  {
      input, textarea, select, fieldset {
        border-color: $color-error-border;
      }
    }

    .error_msg {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-width: 0;
      padding-bottom: 4px + $border-radius;
      margin-bottom: 0 - $border-radius;
    }
    label {
      width: $label_width - 1;
      margin-right: 1%;
      display: inline-block;
      text-align: right;
      font-size: 1.2em;
    }
    input:not([type="checkbox"]):not([type="radio"]), textarea, select, .error_msg, fieldset, .ace_editor {
      width: 40%;
      max-width: 40%;
      min-width: 300px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      -webkit-transition: background-color 1s;
      -o-transition: background-color 1s;
      transition: background-color 1s;

      &.updated {
        background-color: $color-yellow-fade;

        -webkit-transition: none;
        -o-transition: none;
        transition: none;
      }
    }
    textarea {
      vertical-align: super;
      height: 200px;
    }
    .ace_editor {
      vertical-align: top;
      display: inline-block;
    }
    textarea.syntax-highlight, .ace_editor {
      width: 80%;
      max-width: 80%;
      height: 300px;
    }
    fieldset {
      border-radius: $border-radius;
      padding: 1em 1.275em 1.4em;
      legend {
        font-size: 1.2em;
      }
      label {
        margin: 0 1em 0 .5em;
        text-align: left;
        width: auto;
      }
      input {
        width: auto;
        min-width: 0;
      }
      .error_msg {
        min-width: none;
        max-width: none;
        width: auto;
        padding-bottom: 4px;
        border-radius: 0;
        border-width: 1px 0;
        margin: 0 (0 - (1.275em / 1.2)) 1.4em;
      }
    }
    img {
      margin-left: 1%;
      vertical-align: top;
    }
  }
  h3, h4, h5, h6 {
    font-family: $font-special-serif;
    font-weight: normal;
  }
  h3, h4, h5, h6, ul, button, div.field .error_msg, fieldset, .help, .actions {
    margin-left: $label_width;
  }
  ul {
    padding: 0;
  }
  .help {
    color: #333;
    font-size: 1.2em;
    padding-top: 10px;
  }
  .actions button {
    margin-left: 0;
    margin-right: 1%;
  }
}

section.admin table {
  width: 100%;
  margin-top: (3em / 1.2);
  font-size: 1.2em;

  th, td {
    text-align: left;
    padding: .4em 1em;

    &.time { width: 12% }
    &.modified { width: 20% }
    &.actions { width: 25% }
  }
  td:nth-of-type(3n + 3), tr:nth-of-type(2n + 1) td {
    background: $color-zebra;
  }
  .button, a.button, button {
    font-size: 1em;
    margin-left: 0;
  }
  td.actions {
    text-align: right;

    form, div {
      display: inline;
    }
  }
}

section.login form, section.login form > div {
  display: inline;
}
button.twitter {
  @include button-color(#4897D9);
}
button.github {
  @include button-color(#D7D7D7);
}

.admin-puffs ul.menu {
  list-style: none;
  margin-left: $label_width;
  margin-bottom: 3%;
  padding: 0;
  font-size: 1em;

  li {
    display: inline-block;
    margin-right: 3%;
  }

  li a {
    @include button-color(#CCC);
  }
  li.active a {
    @include button-color(#2BBCFA);
  }
}

form.form-sirtrevor > div > div.field > label {
  display: none;
}
.st-format-bar {
  font-size: 1.3em;
}
.st-text-block {
  ul, ol {
    font-size: 1em;
  }
}
.st-input-field-wrapper {
  margin-bottom: 1em;
}
.st-block[data-type="story"] .st-block__inputs {
  padding-top: .625em;
}
.st-image-thumbnail {
  display: inline;
}
