@import "../vendor/fontello/fontello";

%icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}
